# Ignore files related to API keys
.env
*.cfg
/Users/itaybraun/Documents/GitHub/useful-postgres-queries/ipynb.cfg
ipynb.cfg
/Users/itaybraun/Documents/GitHub/db-observability-toolkit/Observability_Notebooks___Draft_Work_in_Progress